# Core functionality - changes here should be rare!
/src/app.py                   @ma7ma7
/src/backend/database.py      @ma7ma7
/src/backend/routers/auth.py  @ma7ma7

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ma7ma7
